<!DOCTYPE html>

<html lang="en-gb" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Em Calculator</title>

		<link rel="stylesheet" href="css/screen.css" />
	</head>

	<body>
		<div class="wrap em-calc">
			<h1>Em Calculator</h1>

			<!--div class="settings">
				<h2>Settings</h2>

				<form action="/">
					<label for="base-px">Base size:</label>
					<input id="base-px" type="number" value="16" />

					<button class="save-settings" type="submit">Save</button>
				</form>
			</div-->

			<div class="list"></div>
		</div>

		<script id="node-template" type="text/template">
			<p class="node-body">
				<span class="node-name"><span class="name" title="Change node name"><%= name %></span><input type="text" value="<%= name %>" class="text node-name" /></span> { <input type="text" class="text px" value="<%= px %>" /> px = <input type="text" class="text ems" value="<%= em %>em" readonly /> }
				<button class="add-sibling">Add</button>
				<button class="add-child">Add Sub</button>
				<span class="delete">&times;</span>
			</p>
		</script>

		<script src="js/libs/jquery-1.8.0.min.js"></script>
		<script src="js/libs/underscore-min.js"></script>
		<script src="js/libs/backbone-min.js"></script>
		<script src="js/libs/backbone-relational.js"></script>
		<script src="js/test.js"></script>
	</body>
</html>