<!DOCTYPE html>

<html lang="en-gb" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Em Calculator</title>
		
		<link rel="stylesheet" href="css/screen.css" />
		<!--
			Todos:
			* Node sets and sub nodes.
			* Settings panel for base font size, etc.
			* Delete node.
			* Preview panel for font sizes.
			* Save
		-->
	</head>
	
	<body>
		<div class="wrap">
			<h1>Em Calculator</h1>
			<p>Base font size: <strong>16px</strong></p>
			
			<div id="em-calc">
				<!-- <ul id="node-list">
					
				</ul> -->
			</div>
		</div>
		
		<script id="node-template" type="text/template">
			<p class="node-body">
				<span class="node-name"><span class="name" title="Change node name"><%= name %></span><input type="text" value="<%= name %>" class="text node-name" /></span> { <input type="text" class="text px" value="<%= px %>" /> px = <input type="text" class="text ems" value="<%= em %>em" readonly /> }
				<button class="js-add-node">Add</button>
				<button class="js-add-sub-node">Add Sub</button>
				<span class="delete">&times;</span>
			</p>
		</script>
		<script src="js/libs/jquery-1.7.1.min.js"></script>
		<script src="js/libs/underscore-min.js"></script>
		<script src="js/libs/backbone-min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>